.traffic_page {
  position: relative;
  height: 75vh;
  width: 100%;
}

.track_background_img {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  img {
    width: 100%;
    height: 100%;
  }
}

.main_about_right {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.traffic_page_info {
  width: 50%;
  height: 90%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
