.homepage {
    color: #fff;
    height: 100vh;
    position: relative;
}



.homepage_text {
    height: 100%;
    padding-top: 200px;

    h1 {
        font-size: 65px;
        font-weight: bold;
    }

    .adv_exp {
        position: absolute;
        bottom: 8%;
        font-size: 20px;
        display: flex;
        align-items: center;
        gap: 16px;

        .medal_img {
            width: 30px;
        }
    }

    .adv_text {
        height: 50px;
        transform: rotate(-2deg);
        margin-top: 15px;
        font-weight: 600;
        background-color: var(--red);
        display: inline-block;
        font-size: 28px;
        padding: 5px 25px;
        box-shadow: var(--lightshadow);

        p {
            transform: rotate(2deg);
        }
    }

    @media(max-width:1400px) {
        h1 {
            font-size: 55px;
        }

        .adv_text {
            height: 45px;
            font-size: 26px;
            padding: 5px 20px;
        }
    }

    @media(max-width:1200px) {
        h1 {
            font-size: 45px;
        }

        .adv_text {
            height: 40px;
            font-size: 22px;
            padding: 4px 18px;
        }
    }

    @media(max-width:992px) {
        h1 {
            font-size: 36px;
        }

        .adv_exp {
            font-size: 16px;
        }

        .adv_text {
            height: 30px;
            font-size: 18px;
            padding: 3px 18px;
        }
    }

    @media(max-width:502px) {
        h1 {
            font-size: 24px;
        }

        .adv_text {
            height: 25px;
            font-size: 16px;
            padding: 0px 16px;
        }
    }
}

@media(max-width:1290px) {
    .homepage_text {
        padding-top: 200px;
    }
}

@media(max-width:768px) {
    .homepage_text {
        padding-top: 180px;
    }
}

.to_bottom_circled_text {
    position: absolute;
    top: 80%;
    right: 2%;
    z-index: 10;
    width: 120px;
    height: 120px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    .to_bottom_icon {
        position: absolute;
        display: grid;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        width: 95px;
        height: 95px;
        background-color: var(--red);
        box-shadow: var(--lightshadow);
        border-radius: 50%;
    }

    .circle_text {
        position: absolute;
        width: 100%;
        height: 100%;
        animation: rotText 7s linear infinite;
    }

    @keyframes rotText {
        0% {
            transform: rotate(360deg);
        }
    }

    .circle_text span {
        position: absolute;
        left: 50%;
        top: -8%;
        font-size: 16px;
        transform-origin: 0 70px;
    }
}

@media(max-width:512px) {
    .to_bottom_circled_text {
        position: fixed;
        top: 90%;
        left: 70%;
        width: 70px;
        height: 70px;

        .to_bottom_icon {
            font-size: 22px;
            width: 55px;
            height: 55px;
        }

        .circle_text {
            span {
                top: -19%;
                font-size: 12px;
                transform-origin: 0px 48px;
            }
        }
    }
}