.homepage {
  color: #fff;
  height: 100vh;
  position: relative;
}

.background_img {
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    background-position: center;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media (max-width: 502px) {
  .homepage {
    height: 90vh;
  }
}

.homepage_text {
  height: 100%;
  padding-top: 200px;

  h1 {
    font-size: 55px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .adv_exp {
    position: absolute;
    bottom: 8%;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 16px;

    .medal_img {
      width: 30px;
    }
  }

  .adv_text {
    height: 50px;
    transform: rotate(-2deg);
    margin-top: 15px;
    font-weight: 600;
    background-color: var(--red);
    display: inline-block;
    font-size: 28px;
    padding: 5px 25px;
    box-shadow: var(--lightshadow);

    p {
      transform: rotate(2deg);
    }
  }

  @media (max-width: 1400px) {
    h1 {
      font-size: 45px;
    }

    .adv_text {
      height: 45px;
      font-size: 26px;
      padding: 5px 20px;
    }
  }

  @media (max-width: 1200px) {
    h1 {
      font-size: 35px;
    }

    .adv_text {
      height: 40px;
      font-size: 22px;
      padding: 4px 18px;
    }
  }

  @media (max-width: 992px) {
    h1 {
      font-size: 28px;
    }

    .adv_exp {
      font-size: 16px;
    }

    .adv_text {
      height: 30px;
      font-size: 18px;
      padding: 3px 18px;
    }
  }

  @media (max-width: 502px) {
    h1 {
      font-size: 22px;
    }

    .adv_text {
      height: 30px;
      font-size: 19px;
      padding: 3px 16px;
    }
  }

  @media (max-width: 401px) {
    h1 {
      font-size: 18px;
    }

    .adv_text {
      height: 30px;
      font-size: 16px;
      padding: 3px 15px;
    }
  }
}

@media (max-width: 1290px) {
  .homepage_text {
    padding-top: 200px;
  }
}

@media (max-width: 768px) {
  .homepage_text {
    padding-top: 180px;
  }
}

@media (max-width: 502px) {
  .homepage_text {
    padding-top: 100px;
  }
}