.desc_infogram {
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    position: relative;


    .infogram_back_blur_img {
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
    }

    h1,
    p {

        font-weight: 500 !important;
    }

    h1 {
        margin-bottom: 50px;
    }

    .starter_text {
        font-size: 56px;
    }

    .infogram_text {
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 18px;
    }
}