.text_box_products_page {
    width: 90%;
    margin: auto;
    top: 6%;
    position: relative;
  }
  
  .products_text_line {
    position: relative;
  
    .rotated_text_btn {
      position: absolute;
      padding: 2px 25px;
      transform: rotate(-2deg);
      font-weight: 600;
      background-color: var(--red);
      display: inline-block;
      border-radius: 0;
  
      p {
        text-transform: uppercase;
        color: white;
        width: 100%;
        font-size: 45px;
        text-align: center;
        transform: rotate(2deg);
      }
    }
  
    .line {
      position: absolute;
      z-index: -1;
      transform: translateY(650%);
      height: 3px;
      width: 100%;
      background-color: var(--red);
    }
  }